<div class="mainpage" ng-if="hasCnt">
  <div ng-repeat="text in cnt.children" index="$index">
    <div class="paragTitle" ng-if="isH2(text.tagName)" ng-bind-html="text.outerHTML"></div>
    <div class="paragParag" ng-if="isP(text.tagName)" ng-bind-html="text.outerHTML"></div>
    <div class="paragParag" ng-if="isList(text.tagName)" ng-bind-html="text.outerHTML"></div>
    <div class="paragImg" ng-if="isImg(text.tagName)" ng-bind-html="text.outerHTML"></div>
    <div class="tiles-container" ng-if="isTilesContainer(text.tagName)" ng-bind-html="text.outerHTML"></div>
  </div>
</div>
